aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.15+computecanada
aiosignal==1.4.0+computecanada
anyio==4.11.0+computecanada
asttokens==3.0.1+computecanada
attrs==25.4.0+computecanada
certifi==2025.10.5+computecanada
charset_normalizer==3.4.4+computecanada
comm==0.2.3+computecanada
contourpy==1.3.3+computecanada
cycler==0.12.1+computecanada
datasets==4.3.0+computecanada
debugpy==1.8.19+computecanada
decorator==5.2.1+computecanada
dill==0.4.0+computecanada
distlib @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/distlib/distlib-0.3.8
executing==2.2.1+computecanada
filelock @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/filelock/filelock-3.13.4
flit_core @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/flit_core/flit_core-3.9.0
fonttools==4.61.1+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.9.0+computecanada
h11==0.16.0+computecanada
hatch-vcs @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/hatch_vcs/hatch_vcs-0.4.0
hatchling @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/hatchling/hatchling-1.24.2
hf_xet==1.1.10+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.0+computecanada
idna==3.11+computecanada
inquirerpy==0.3.4+computecanada
ipykernel==7.1.0+computecanada
ipython==9.9.0+computecanada
ipython_pygments_lexers==1.1.1+computecanada
ipywidgets==8.1.8+computecanada
jedi==0.19.2+computecanada
jupyter_client==8.8.0+computecanada
jupyter_core==5.9.1+computecanada
jupyterlab_widgets==3.0.16+computecanada
kiwisolver==1.4.9+computecanada
matplotlib==3.10.8+computecanada
matplotlib_inline==0.2.1+computecanada
mpmath==1.3.0+computecanada
multidict==6.7.0+computecanada
multiprocess==0.70.16+computecanada
nest_asyncio==1.6.0+computecanada
numpy==2.4.2+computecanada
packaging @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/packaging/packaging-24.0
pandas==3.0.0+computecanada
parso==0.8.5+computecanada
pathspec @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/pathspec/pathspec-0.12.1
pexpect==4.9.0+computecanada
pfzy==0.3.4+computecanada
pillow==12.1.0+computecanada
platformdirs @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/platformdirs/platformdirs-4.2.0
pluggy @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/pluggy/pluggy-1.5.0
prompt_toolkit==3.0.52+computecanada
propcache==0.4.1+computecanada
psutil==7.2.2+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pyarrow @ file:///tmp/ebuser/avx512/Arrow/25.0.0/GCCcore-14.3-gentoo/arrow/python
pygments==2.19.2+computecanada
pyparsing==3.3.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
pyzmq==27.1.0+computecanada
requests==2.32.5+computecanada
scipy==1.17.0+computecanada
setuptools==80.9.0+computecanada
setuptools-scm @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/setuptoolsscm/setuptools-scm-8.0.4
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
stack_data==0.6.3+computecanada
sympy==1.14.0+computecanada
tomli @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/tomli/tomli-2.0.1
tornado==6.5.4+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
trove-classifiers @ file:///cvmfs/soft.computecanada.ca/easybuild/sources/p/Python/extensions/trove_classifiers-2024.4.10-py3-none-any.whl#sha256=678bd6fcc5218d72e3304e27a608acc9b91e17bd00c3f3d8c968497c843ad98b
typing_extensions @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/typing_extensions/typing_extensions-4.12.1
tzdata==2025.3+computecanada
urllib3==2.5.0+computecanada
virtualenv @ file:///tmp/ebuser/avx512/Python/3.12.4/GCCcore-13.3-gentoo/virtualenv/virtualenv-20.26.2
wcwidth==0.5.2+computecanada
wheel==0.45.1+computecanada
widgetsnbextension==4.0.15+computecanada
xxhash==3.5.0+computecanada
yarl==1.22.0+computecanada
