accelerate==1.11.0+computecanada
aiofiles==24.1.0+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.15+computecanada
aiosignal==1.4.0+computecanada
annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
anyio==4.12.0+computecanada
asttokens==3.0.1+computecanada
attrs==25.4.0+computecanada
audioread==3.1.0+computecanada
av==15.1.0+computecanada
Brotli==1.1.0+computecanada
certifi==2025.11.12+computecanada
cffi==1.17.1+computecanada
charset_normalizer==3.4.4+computecanada
click==8.3.1+computecanada
comm==0.2.3+computecanada
contourpy==1.3.3+computecanada
cycler==0.12.1+computecanada
datasets==4.0.0+computecanada
debugpy==1.8.19+computecanada
decorator==5.2.1+computecanada
deepspeed==0.16.4+computecanada
dill==0.3.8+computecanada
docstring_parser==0.17.0+computecanada
einops==0.8.1+computecanada
executing==2.2.1+computecanada
fastapi==0.126.0
ffmpy==1.0.0
filelock==3.20.1+computecanada
fire==0.7.1+computecanada
fonttools==4.61.1+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.3.0+computecanada
git-filter-repo==2.47.0
gitdb==4.0.12+computecanada
gitpython==3.1.45+computecanada
gradio==5.45.0
gradio_client==1.13.0
groovy==0.1.2+computecanada
h11==0.16.0+computecanada
h5py==3.15.0+computecanada
hf_transfer==0.1.9+computecanada
hf_xet==1.2.0+computecanada
hjson==3.1.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.0+computecanada
idna==3.11+computecanada
ipykernel==7.1.0+computecanada
ipython==9.9.0+computecanada
ipython_pygments_lexers==1.1.1+computecanada
ipywidgets==8.1.8+computecanada
jedi==0.19.2+computecanada
jieba==0.42.1+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.3
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.8.0+computecanada
jupyter_core==5.9.1+computecanada
jupyterlab_widgets==3.0.16+computecanada
kiwisolver==1.4.9+computecanada
lazy_loader==0.4+computecanada
librosa==0.11.0+computecanada
liger_kernel==0.6.4
-e git+https://github.com/chrisindris/LLaMA-Factory-LFS.git@4d5bd0da699d4acb156c32e5cf1a732404c9c1cc#egg=llamafactory
llvmlite==0.45.1+computecanada
markdown_it_py==4.0.0+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib==3.10.8+computecanada
matplotlib_inline==0.2.1+computecanada
mdurl==0.1.2+computecanada
modelscope==1.33.0
mpmath==1.3.0+computecanada
msgpack==1.1.2+computecanada
multidict==6.7.0+computecanada
multiprocess==0.70.16+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.6.1+computecanada
ninja==1.11.1+computecanada
nltk==3.9.2+computecanada
numba==0.62.1+computecanada
numpy==1.26.4+computecanada
omegaconf==2.3.0+computecanada
opencv_contrib_python==4.12.0
opencv_contrib_python_headless==4.12.0
opencv_python==4.12.0
opencv_python_headless==4.12.0
orjson==3.11.1+computecanada
packaging==26.0+computecanada
pandas==3.0.0+computecanada
parso==0.8.5+computecanada
peft==0.17.1+computecanada
pexpect==4.9.0+computecanada
pillow==12.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==4.5.1+computecanada
pooch==1.8.2+computecanada
prompt_toolkit==3.0.52+computecanada
propcache==0.4.1+computecanada
protobuf==6.33.2+computecanada
psutil==7.2.2+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
py_cpuinfo==9.0.0+computecanada
pyarrow @ file:///tmp/ebuser/avx512/Arrow/25.0.0/GCCcore-14.3-gentoo/arrow/python
pycparser==2.23+computecanada
pydantic==2.10.6+computecanada
pydantic_core==2.27.2+computecanada
pydub==0.25.1+computecanada
pygments==2.19.2+computecanada
pyparsing==3.3.2+computecanada
python_dateutil==2.9.0.post0+computecanada
python_multipart==0.0.21+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
pyzmq==27.1.0+computecanada
ray==2.49.1+computecanada
referencing==0.37.0+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
rich==14.2.0+computecanada
rouge-chinese==1.0.3
rpds_py==0.27.0+computecanada
ruff==0.11.0+computecanada
safehttpx==0.1.7
safetensors==0.5.3+computecanada
scikit_learn==1.7.1+computecanada
scipy==1.17.0+computecanada
semantic_version==2.10.0+computecanada
sentencepiece==0.2.0+computecanada
sentry_sdk==2.48.0+computecanada
setuptools==80.9.0+computecanada
shellingham==1.5.4+computecanada
shtab==1.8.0
six==1.17.0+computecanada
smmap==5.0.2+computecanada
soundfile==0.13.1+computecanada
soxr==0.5.0.post1+computecanada
sse-starlette==3.0.4
stack_data==0.6.3+computecanada
starlette==0.50.0+computecanada
sympy==1.14.0+computecanada
termcolor==3.2.0+computecanada
threadpoolctl==3.6.0+computecanada
tiktoken==0.11.0+computecanada
tokenizers==0.22.1+computecanada
tomlkit==0.13.3+computecanada
torch==2.9.1+computecanada
torchvision==0.24.1+computecanada
tornado==6.5.4+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
transformers==4.57.1+computecanada
triton==3.5.0+computecanada
trl==0.9.6+computecanada
typer==0.20.1
typing_extensions==4.15.0+computecanada
tyro==0.8.14+computecanada
tzdata==2025.3+computecanada
urllib3==2.6.2+computecanada
uvicorn==0.38.0+computecanada
wandb==0.21.2+computecanada
wcwidth==0.5.2+computecanada
websockets==15.0.1+computecanada
wheel==0.45.1+computecanada
widgetsnbextension==4.0.15+computecanada
xxhash==3.5.0+computecanada
yarl==1.22.0+computecanada
